<div class="container">
    <div class="main-content">
        <div class="card">
            <h1 class="text-center mb-2">Comments</h1>
            
            {{#if user.isLoggedIn}}
                <div class="text-center mb-2">
                    <a href="/comment/new" class="btn btn-primary">New Comment</a>
                </div>
            {{else}}
                <div class="alert alert-warning text-center mb-2">
                    <a href="/login">Login</a> to post comments
                </div>
            {{/if}}

            {{#if comments.length}}
                {{#each comments}}
                    <div class="comment-card">
                        <div class="comment-header">
                            <span class="author">{{this.author}}</span>
                            <span class="timestamp">{{this.createdAt}}</span>
                        </div>
                        <div class="comment-text">
                            {{this.text}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="text-center">
                    <p>No comments yet</p>
                </div>
            {{/if}}
        </div>
    </div>
</div>